
// 总体
.menu-wrapper
    color: $menuTxt
    padding-top: 1.64em
    padding-left: 2em
    i
        color: $menuTxt
    .menu-item
        @extend .br
        padding: $ds
        width: 100%
        text-align: left
        padding-left: calc(12px + 1vw)
    .active
        color: $pri
        background: none
.menu-hv:hover
    color: $pri
    cursor: pointer
    background: none

// 背景 线
.menu-hr
    margin: $ds $ds 0
    height: 1px
    padding: 0
    border: none
    opacity: 0.26
    border-radius: 1em
    background: $menuHr
    
.pl_menu
    padding-left: 2em !important
    
.menu-txt
    padding-left: calc(10px + 0.5vw)

// MENU 动画

// 小于
@media screen and (max-width: 1444px)
    .pl_menu
        padding-left: 1em !important
    //

.menu-item-icon
    i
        color: $pri !important
    &:hover 
        transform: translateX(3px)

.menu-space
    width: 100%
    height: calc( 80px + 1vw )

// LOGO

.iogo
    width: 100%
    padding: 1vw 0
    padding-top: calc(8px + 1.2vw)
    img
        width: 100%
        max-width: calc( 146px + 4.6vw )


.iogo-user
    padding: 6px 0px 0px 0px !important
    position: relative
    &::after
        z-index: 2
        position: absolute
        content: ''
        top: -12px
        left: -7px
        width: 120%
        height: 120%
        background: linear-gradient(to bottom, $pri-tin, rgba(255, 255, 255, 0.001), rgba(255, 255, 255, 0.001))
        transform: rotate(-25deg) translate3d(-5em, -5.4em, 0)
    img
        z-index: 200
        max-width: calc(76px + 3.8vw) !important