.cp-custom-card
    @extend .br
    @extend .bxs
    background: #FFF
    .cp-cc-bar
        color: #FFF
        background: $pri
        & > div
            opacity: 0.62
            user-select: none
        & > button
            opacity: 0.93
            min-height: 4em
            p
                opacity: 0.5
                line-height: 1em
        &,
        & > button
            border-bottom-left-radius: $br
            border-bottom-right-radius: $br