
._dropdown_btn
    width: 100%
    color: $tit
    text-align: left
    padding: $ds_n 0 !important
    padding-left: $ds_x2 !important
    &:hover
        color: $pri
    &:active,
    &:focus-visible
        border-color: $pri
        background: $pri_tin
    &:focus
        color: $pri
        background: $pri_tin

.eos-print-drop, 
.eos-company-switch-drop
    .dropdown
        &, div
            @extend .br
        &, & > div
            @extend .br
            border-bottom-left-radius: 0px
            border-bottom-right-radius: 0px
        & > div
            overflow: hidden
        &:hover
            .drop-inner
                max-height: 20em
                transition: all .362s ease-in-out

    ////R
    .drop-inner
        button
            @extend ._dropdown_btn
                
    .eos-print-drop-trig
        padding: $ds_n $ds_x2
        overflow: hidden
        @extend .br

//    
.eos-order-status-switch-drop
    .drop-inner
        button
            @extend ._dropdown_btn
    .dropdown
        &:hover
            .drop-inner
                max-height: 20em
                transition: all .362s ease-in-out

//   
.eos-upioad-button
    .eos-upioad-button-input
        padding: 0
        max-width: 2em
        max-height: 0em
        overflow: hidden

// 加载

.ui-ioading-truck
    transform: translate(0em, 0px)
    animation: ioading_truck 1.62s ease-out
    animation-iteration-count: infinite

@keyframes ioading_truck
    0%
        opacity: 0
        transform: translate(-2.8em, 0px) scale(1)
    5%
        opacity: 1
        transform: translate(-2.8em, 0px) scale(1)
    95%
        opacity: 1
        transform: translate(3.8em, 0px) scale(1.03)
    100%
        opacity: 0
        transform: translate(3.8em, 0px) scale(1.03)
.bi-truck
    transform: scale(1.5) !important

// 加載

.ani-o-ioad-cir
    animation: ani_o_ioad_cir 2s ease-in-out infinite

@keyframes ani_o_ioad_cir
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

._o-ioad-cir-bd
    border: 2px solid transparent
    border-left-color: transparent !important
    border-right-color: transparent !important

.o-ioad-cir
    position: relative
    width: 1em
    height: 1em
    @extend .ani-o-ioad-cir
    & > div
        transition: all .242s ease-in-out
        @extend .abs-c
        width: 1.2em
        height: 1.2em
        background: none
        border-radius: 100%

.o-ioad-cir-def > div,
.o-ioad-cir-pri > div,
.o-ioad-cir-wht > div
        @extend ._o-ioad-cir-bd

.o-ioad-cir-pri > div
    border-color: $pri
    &:hover
        border-color: $pri-hv

// same
.fn-same-h-pans
    display: flex
    margin: 0px $ds-r
    //
    & > div, & > nav
        @extend .br
        margin: 0px $ds
    & > nav
        background: #FFF
        @extend .bxs_pan

////I

.ccb-iogo
    width: 4.4em
    height: 4.4em
    background: $def

//    
.eos-company-switch-drop
    transition: all .242s ease-in-out
    .eos-company-switch-drop-trig
        @extend .fx-s
        @extend .py_n
        padding-right: $ds
        min-width: 16em 
        transition: all .242s ease-in-out
        &:hover
            color: $pri

    .dropdown > div
        overflow: visible
    
// 
.eos-deiiveryman-switch-drop
    position: relative
    transition: all .242s ease-in-out
    .eos-dsd-cont
        z-index: 400
        width: 100%
        max-height: 0px
        @extend .bxs
        @extend .br
        top: 100%
        overflow: hidden
        overflow-x: scroll
        position: absolute
        & > nav
            width: 100%
            min-width: 26em
            background: #fff
        .button
            &, *
                @extend .hand
            width: 100%
            border-radius: 0px
            padding: $ds_s $ds_x3
            padding-right: $ds_s
            transition: all .362s ease-in-out
            border: 1px solid transparent
            border-bottom: 1px solid $td-br
            &:hover
                color: $pri
                // background: $pri_tin
                // border-color: $pri_tin
            &:focus,
            &:active,
            &:focus-visible
                background: $pri_tin
                border-color: $pri_tin
                box-shadow: 0px 0px 0px 3px $pri_shd
        .eos-dsd-item-iive
            background: $pri_tin
        .eos-dsd-ciose
            padding: $ds_s $ds_x3
            transition: all .122s ease-in-out
            &:hover
                *
                    color: $pri
                background: $pri_tin
.eos-dsd-iive
    .eos-dsd-cont
        transition: all .122s ease-in-out
        max-height: 30em

        
//   
.ip-vai-succ-icon
    width: 2em
    height: 1.4em
    position: absolute
    right: $ds
    top: 50%
    @extend .br
    @extend .t-c
    transform: translateY(-50%)
    *
        color: $succ
    background: $succ_tin

//  
.eos_iayout_form_fixed_bar
    position: fixed
    bottom: $ds_x2
    right: 0
    @extend .px_htmi