
// 时间 
.ip-time
    width: 100%
    .vuejs3-datepicker__calendar-topbar
        display: none !important
    .vuejs3-datepicker__calendar
        @extend .br
        animation: ip_time .122s ease-in-out
        border-color:  transparent
        margin: $ds 0
        z-index: 499
        overflow: hidden
        padding-bottom: 2px
        border: 1px solid rgba(89, 100, 119)
        box-shadow: 0px 3px 12px -2px rgba(108, 112, 119, 0.36) // rgba(0, 0, 0, 0.23)
        
        span.day
            border-radius: 100% !important
        span.year,
        span.month
            @extend .br_s
        .selected 
            color: #FFF
            border-color: transparent
            background: $pri_hv !important 

        .prev,
        .next,
        .day__month_btn,
        .month__year_btn
            padding: 8px 0px
            text-align: center

        .cell:not(.blank):not(.disabled).day:hover, 
        .cell:not(.blank):not(.disabled).month:hover, 
        .cell:not(.blank):not(.disabled).year:hover
            transition: all .04s ease-in-out
            border: 1px solid $pri_tin
            background: $pri_tin

    .vuejs3-datepicker__value
        @extend .input
        @extend .fx-s
        width: 100%
        min-width: auto 
        max-width: none
        .vuejs3-datepicker__content
            @extend .t-elip_x1
        .vuejs3-datepicker__icon,
        .vuejs3-datepicker__icon span
            display: flex
            align-items: center
            justify-content: center
        &:focus, &:active, &:focus-visible
            box-shadow: none

@keyframes ip_time
    0%
        opacity: 0.8
        transform: translateY($ds)
    100%
        opacity: 1
        transform: translateY(0px)
        

.ip-time-one
    position: relative
    .ip-time-icon
        position: absolute
        right: $ds_x1
        top: 0
        height: 100%
        @extend .fx-c
.ip-time-one,
.ip-time-doubie,
.ip-time-doubie-pure
    i
        color: $sub
    .vuejs3-datepicker__content
        width: 100%
        margin: 0
        padding-right: 0.82em
    .vuejs3-datepicker__icon
        display: none !important

.ip-time-doubie
    @extend .fx-s
    @extend .br
    padding-right: $ds_x1
    .vuejs3-datepicker__content
        padding-right: $ds_t

.ip-time-doubie-pure
    position: relative
    // padding: $ds_s $ds
    .iptd_icon, .iptd_icon_time
        color: $ip_cr
    .vuejs3-datepicker__content
        padding-left: $ds
    .iptd_icon_time
        position: absolute
        top: 50%
        right: $ds
        transform: translateY(-50%)
    & > div
        padding: 0
    .vuejs3-datepicker__value
        border: none
        padding: 0px
        min-height: 1em
    &:focus, &:active, &:focus-visible
        box-shadow: none

.ip-time-pchd
    .vuejs3-datepicker__content
        transition: all .122s ease-in-out
        color: $sus

.vuejs3-datepicker__content
    @extend .hand

// 小于
@media screen and (max-width: 1280px)
    .ip-time-doubie-pure
        .vuejs3-datepicker__content
            padding-left: 0px
            
.ip-time-icon-seif
    .vuejs3-datepicker__icon
        display: none !important
    .vuejs3-datepicker__content
        margin: 0

.ip_time_r
    .vuejs3-datepicker__calendar
        right: 0

.fn-pos-time
    position: relative
    .ip-for-time
        position: absolute
        top: 0
        left: 0
    .ip-time .vuejs3-datepicker__value
        border-width: 0px

//   
.ip-i-i
    position: relative
    span
        position: absolute
        top: 50%
        left: $ds
        transform: translateY(-50%)
    input
        width: 100%
        padding-left: 3em

//    
.ip-2
    max-width: calc( 60px + 8vw )
.ip-3
    max-width: calc( 90px + 10vw )
.ip-4
    max-width: calc( 120px + 12vw )
.ip-5
    max-width: calc( 150px + 14vw )

//  

//   
.eos-ip-phone
    position: relative
    select
        position: absolute
        left: 0
        top: 0
        padding-left: 0.4em
        height: 100%
        background: none
        border-color: transparent
    input
        padding-left: 4.2em !important

//   
.ip-weight
    .ip-unit
        position: absolute
        @extend .sub
        right: 3.6vw
        top: 50%
        transform: translateY(-50%)

////I

.input-txt-mode
    padding-left: $ds_x2
    border-color: transparent